@{
    ViewBag.Title = "Trang chủ";
}
<div class="clearfix"></div>
<div class="container_fullwidth">
    <div class="container">
        <div class="hot-products">
            <h3 class="title"><strong>Xe nâng</strong></h3>
            <div class="control"><a id="prev_hot" class="prev" href="#">&lt;</a><a id="next_hot" class="next" href="#">&gt;</a></div>
            <ul id="hot">
                @for (int i = 0; i < ((ViewBag.VerhicleCount / 4)) + 1; i++)
                {
                <li>
                    <div class="row">
                        @if (ViewBag.VerhicleCount - (i * 4) < 4)
                        {
                            for (int j = 0; j < ViewBag.VerhicleCount - (i * 4); j++)
                            {
                                <form id="form">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="products">
                                            <div class="thumbnail">
                                                <a href="details.html">
                                                    <img src="@ViewBag.Verhicle[j].Image1" alt="">
                                                </a>
                                            </div>
                                            <div class="productname">
                                                @ViewBag.Verhicle[j].Ten
                                            </div>
                                            <h4 class="price">
                                                @ViewBag.Verhicle[j].TinhTrang
                                            </h4>
                                            <div class="button_group">

                                                <div class="button_group">
                                                    <button class="button add-cart" form="form" formaction=@Url.Action("VerhicleDetail", "Product", new { id = @ViewBag.Verhicle[j].ID })>Xem chi tiết</button>
                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                        else
                        {
                            for (int j = 0; j < 4; j++)
                            {

                                <form id="form">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="products">
                                            <div class="thumbnail">
                                                <a href="details.html">
                                                    <img src="@ViewBag.Verhicle[j].Image1" alt="Product Name">
                                                </a>
                                            </div>
                                            <div class="productname">
                                                @ViewBag.Verhicle[j].Ten
                                            </div>
                                            <h4 class="price">
                                                @ViewBag.Verhicle[j].TinhTrang
                                            </h4>
                                            <div class="button_group">
                                                <button class="button add-cart" form="form" formaction=@Url.Action("VerhicleDetail", "Product", new { id = @ViewBag.Verhicle[j].ID })>Xem chi tiết</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </li>
                }
            </ul>
        </div>
        <div class="hot-products">
            <h3 class="title"><strong>Phụ Tùng</strong></h3>
            <div class="control"><a id="prev_hot" class="prev" href="#">&lt;</a><a id="next_hot" class="next" href="#">&gt;</a></div>
            <ul id="hot">
                @for (int i = 0; i < ((ViewBag.CategoryCount / 4)) + 1; i++)
                {
                    <li>
                        <div class="row">
                            @if (ViewBag.CategoryCount - (i * 4) < 4)
                            {
                                for (int j = 0; j < ViewBag.CategoryCount - (i * 4); j++)
                                {
                                    <form id="form">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="products">
                                                <div class="thumbnail">
                                                    <a href="details.html">
                                                        <img src="@ViewBag.Category[j].Image1" alt="">
                                                    </a>
                                                </div>
                                                <div class="productname">
                                                    @ViewBag.Category[j].Ten
                                                </div>
                                                <h4 class="price">
                                                    @ViewBag.Category[j].TinhTrang
                                                </h4>
                                                <div class="button_group">
                                                    <button class="button add-cart" form="form" formaction=@Url.Action("CategoryDetail", "Product", new { id = @ViewBag.Category[j].ID })>Xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                }
                            }
                            else
                            {
                                for (int j = 0; j < 4; j++)
                                {

                                    <form id="form">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="products">
                                                <div class="thumbnail">
                                                    <a href="details.html">
                                                        <img src="@ViewBag.Category[j].Image1" alt="Product Name">
                                                    </a>
                                                </div>
                                                <div class="productname">
                                                    @ViewBag.Category[j].Ten
                                                </div>
                                                <h4 class="price">
                                                    @ViewBag.Category[j].TinhTrang
                                                </h4>
                                                <div class="button_group">
                                                    <button class="button add-cart" form="form" formaction=@Url.Action("CategoryDetail", "Product", new { id = @ViewBag.Category[j].ID })>Xem chi tiết</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
