
@{
    ViewBag.Title = "Xe nâng";
}
<div class="clearfix"></div>
<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_LeftLayout")
            </div>
            <div class="col-md-8">
                <div class="products-grid">

                    <div class="row">
                        <form id="form">
                            @foreach (var item in ViewBag.lsVerhicle)
                            {

                                <div class="col-md-4 col-sm-6">
                                    <div class="products">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img src="@item.Image1" alt="Product Name">
                                            </a>
                                        </div>
                                        <div class="productname">
                                            @item.Ten
                                        </div>
                                        <h4 class="price">
                                            @item.TinhTrang
                                        </h4>
                                        <div class="button_group">
                                            <button class="btn" form="form" formaction=@Url.Action("VerhicleDetail", new { id = @item.ID })>Xem chi tiết</button>
                                        </div>
                                    </div>
                                </div>

                            }
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>

</div>
