@{
    ViewBag.Title = "Trang chủ";
}

    <div class="div_box div_box_l_pro2">

        <div class="div_box_top div_box_l_pro2_top">
            <h3 class="h3_box h3_box_l_pro2">Xe nâng</h3>
        </div>

        <div class="div_box_center div_box_l_pro2_center">
            <div class="div_box_l_pro2_content">
                @foreach (var item in ViewBag.Verhicle)
                {
                    <div class="div_pro2_img">
                        <a class="preview" src="~/Image/download.jpg" href="#">
                            <img src="~/Image/download.jpg" alt="Sản phẩm" />
                        </a>
                        <span class="s_pro2_icon_call"></span>
                    </div>
                    <h3 class="h3_pro2_title">
                        <a href="#">
                            @item.Ten
                        </a>
                    </h3>
                    <span class="s_price_pro2">
                        @item.Loai
                        <br />
                        @item.Hieu
                        <br />
                        @item.Doi
                        <br />
                        @item.Hang
                        <br />
                        @item.MoTa
                        <br />
                        @item.TinhTrang

                    </span>

                }
                </div>
            </div>
    </div>

