
@{
    ViewBag.Title = "Chi tiếp phụ tùng";

}

<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="products-details">
                    <div class="preview_image">
                        <div class="preview-small">
                            <img id="zoom_03" src="@ViewBag.CategoryDetail.Image1" data-zoom-image="@ViewBag.CategoryDetail.Image1" alt="">
                        </div>
                    </div>
                    <div class="products-description">
                        <h5 class="name">
                            Tên: @ViewBag.CategoryDetail.Ten
                        </h5>
                        <p class="name">
                            Hiệu:  @ViewBag.CategoryDetail.Hieu
                        </p>
                        <p class="name">
                            Đời: @ViewBag.CategoryDetail.Doi
                        </p>
                        <p class="name">
                            Hãng: @ViewBag.CategoryDetail.Hang
                        </p>
                        @if (ViewBag.CategoryDetail.MoTa != null)
                        {
                            <p class="name">
                                Mô tả: @ViewBag.CategoryDetail.MoTa
                            </p>
                        }
                        <p class="name">
                            Liên hệ : <span class="price">01223232434</span> để mua hàng
                        </p>

                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <!--  -->

            </div>

        </div>
        <div class="clearfix">
        </div>
    </div>
</div>



